@import "../../styles/Mixins.scss";

.text {
  color: inherit;

  &--bold {
    font-family: "Open Sans Bold";
  }

  &--capitalise {
    text-transform: capitalize;
  }

  &--upper {
    text-transform: uppercase;
  }

  &--left {
    text-align: left;
  }

  &--centre {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--spacing {
    letter-spacing: 5px;
  }

  &--md {
    font-size: 16px;

    @include lg {
      font-size: 24px;
    }
  }

  &--lg {
    font-size: 48px;

    @include lg {
      font-size: 64px;
    }
  }
}
